{% extends "base.html" %}
{% load static %}
{% load cart_tools %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font mt-3 mb-3">Shopping Cart</h2>
                <hr class="mb-3">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                {% if cart_items %}
                <div class="row">
                    {% for item in cart_items %}
                        <div class="col-12">
                            <div class="card border-0 bg-smoke">
                                <div class="card-body">
                                    <div class="row d-flex align-items-center">
                                        <!-- Product Image -->
                                        <div class="col-4 p-1">
                                            <div class="product-container image-container">
                                                {% if item.product.image %}
                                                    <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                                {% else %}
                                                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- Product Details -->
                                        <div class="col-8 text-medium pt-2 px-0">
                                            <table class="table table-sm table-borderless">
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col"></th>
                                                </tr>
                                                <tr>
                                                    <td class="small fw-bold">Item</td>
                                                    <td class="small">{{ item.product.name }}</td>
                                                </tr>    
                                                <tr>
                                                    <td class="pt-2 px-1 pb-1 cart-table-title small fw-bold">Quantity</td>
                                                    <td class="small w-55">
                                                        <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                                            {% csrf_token %}
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend">
                                                                        <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                                            <span>
                                                                                <i class="fas fa-minus fa-sm"></i>
                                                                            </span>
                                                                        </button>
                                                                    </div>
                                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                                        data-item_id="{{ item.item_id }}"
                                                                        id="id_qty_{{ item.item_id }}">
                                                                    <div class="input-group-append">
                                                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                                            <span>
                                                                                <i class="fas fa-plus fa-sm"></i>
                                                                            </span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        <a class="update-link text-info float-start"><small>Update</small></a>
                                                        <a class="remove-item text-danger float-end" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="small fw-bold">SKU</td>
                                                    <td><p class="my-0 small text-muted">{{ item.product.sku|upper }}</p></td>
                                                </tr>
                                                <tr>
                                                    <td class="small fw-bold">Price</td>
                                                    <td><p class="my-0 small">£{{ item.product.price }}</p></td>
                                                </tr>
                                                <tr>
                                                    <td class="small fw-bold">Subtotal</td>
                                                    <td><p class="my-0 small">£{{ item.product.price | calc_subtotal:item.quantity }}</p></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    <div>
                        <div class="col pt-5 text-end">
                            <h6><strong>Cart Total: £{{ total|floatformat:2 }}</strong></h6>
                            <h6 class="fw-bold">Delivery: £{{ delivery|floatformat:2 }}</h6>
                            {% if not discount == None %}
                            <div class="mb-2">
                                <p><strong>Current Discount Code:</strong> <span>{{ discount }}</span><a href="{% url 'cancel_discount' %}" class="text-danger ms-3">Cancel Code</a></p>
                                <p class="text-info">Savings: <span>£{{ discount_savings|floatformat:2 }} - {{ discount.amount }}%</span> off!</p>
                            </div>
                            {% endif %}
                            <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-3 text-danger">
                                You could get free delivery by spending just <strong>£{{ free_delivery_delta|floatformat:2 }}</strong> more!
                            </p>
                            {% endif %}
                            <p class="fw-bold mb-1">Apply Discount Code: 
                                <span>
                                    <form action="{% url 'discount_apply' %}" method="POST" class="mb-2">
                                        {% csrf_token %}
                                        <input type="text" name="discount-code" id="discount-code" class="w-30" maxlength="10" placeholder="Enter discount code">
                                        <button type="submit" class="btn btn-blue btn-sm">Apply</button>
                                    </form>
                                </span>
                            </p>
                        </div>
                        <div class="col text-end mb-3">
                            <a href="{% url 'products' %}" class="btn btn-blue btn-lg mb-2">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase fw-bold">Keep Shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btn-outline-black btn-lg mb-2">
                                <span class="text-uppercase fw-bold">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                {% else %}
                    <div>
                        <p class="text-center lead my-5">Your cart is empty!</p>
                        <a href="{% url 'products' %}" class="btn btn-blue btn-lg">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>                                                              
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}