{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font mb-4">Thank You</h2>
                <hr class="mb-3">
                <p class="text-black">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="order-confirmation-wrapper p-2 border">
                    <div class="row">
                        <div class="col">
                            <p class="fw-bold highlight-text mb-0">Order Info:</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 fw-bold">Order Number</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-end ps-2">
                            <small class="mb-0">{{ order.order_number }}</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 fw-bold">Order Date</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p class="fw-bold highlight-text mb-0">Order Details:</p>
                        </div>
                    </div>

                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="small mb-0 text-black">
                                {{ item.product.name }}
                            </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="small mb-0">{{ item.quantity }} @ £{{ item.product.price }} each</p>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="row">
                        <div class="col">
                            <p class="fw-bold highlight-text mb-0">Delivering To:</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-black fw-bold">Full Name</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-black fw-bold">Address 1</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>

                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-black fw-bold">Address 2</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-black fw-bold">County</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-black fw-bold">Town or City</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>

                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-black fw-bold">Postal Code</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-black fw-bold">Country</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-black fw-bold">Phone Number</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p class="fw-bold highlight-text mb-0">Billing Info:</p>
                        </div>
                    </div>
                    <!-- If discount applied, show code and amount -->
                    {% if order.discount is not None %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <small class="mb-0 text-black fw-bold">Discount Used</small>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-0">{{ order.discount }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <small class="mb-0 text-black fw-bold">Discount Savings</small>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-0">{{ order.discount.amount }}% off!</p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-black fw-bold">Order Total</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">£{{ order.order_total }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-black fw-bold">Delivery</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">£{{ order.delivery_cost }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-black fw-bold">Grand Total</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">£{{ order.grand_total }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="col-12 col-md-7 text-md-end">
                {% if from_profile %}
                <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-angle-left"></i>
					</span>
					<span class="text-uppercase">Back to Profile</span>
				</a>
                {% else %}
				<a href="{% url 'products' %}" class="btn btn-blue rounded-0 my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-gifts"></i>
					</span>
					<span class="text-uppercase">Why not have another look?</span>
				</a>
                {% endif %}
			</div>
		</div>
    </div>
{% endblock %}