/* ------------------------- General */

html {
    height: 100%;
}

body {
    background: url('/media/bg-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #14161A;
    font-family: 'Libre Franklin', sans-serif;
}

.bg-smoke {
    background: #f7f7f7;
}

.text-black {
    color: #14161A !important;
}

.border-black {
    border: 1px solid #14161A !important;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width:  1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

/* ------------------------ Header */
#topnav {
    color: #fff;
}

.main-logo-link {
    width: fit-content;
}

/* ------------------------- Buttons */

.shop-now-button,
.btn-blue {
    background: #228CBD;
    color: #fff;
}

.shop-now-button {
    min-width: 260px;
    font-weight: 700;
}

.btn-black {
    background: #14161A;
    color: #fff;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #1C448E;
    color: #fff;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #14161A;
    color: #fff;
}

/*-------------------------- Media Queries */

/* Increase container width on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on large and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}