/* ------------------------- General */

html {
    height: 100%;
}

body {
    background: url('/media/bg-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #14161A;
    font-family: 'Libre Franklin', sans-serif;
}

.bg-smoke {
    background: #f7f7f7;
}

.text-black {
    color: #14161A !important;
}

.border-black {
    border: 1px solid #14161A !important;
}

.header-container {
        padding-top: 195px;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width:  1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #f7f7f7;
    z-index: -1;
}

.highlight-text {
    color: #1E7BC1;
}

.shopping-cart-highlight {
    color: #228CBD;
}

/* Override default BS margin rule */
.logo-underline {
    margin-left: 25%;
}

li.list-inline-item > a.nav-link {
    padding: 0.5rem 0.5rem;
}

/* ------------------------ Header */
#topnav {
    color: #fff;
}

.main-logo-link {
    width: fit-content;
}

/* ------------------------- Buttons */

#delivery-banner,
.shop-now-button,
.btn-blue,
a.category-badge > span.badge:hover,
li.nav-item > a.nav-link:hover,
li.nav-item > a.nav-link.show {
    background: #228CBD;
    color: #fff !important;
}

.shop-now-button {
    min-width: 260px;
    font-weight: 700;
}

.btn-outline-black {
    background: #fff;
    color: #14161A;
    border: 1px solid #14161A;
}

.btn-black,
.btn-outline-black:hover {
    background: #14161A;
    color: #fff;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-blue:hover {
    background: #1C448E !important;
    color: #fff;
}

.btt-button {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background: #228CBD;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
    color: #fff;
}

/*-------------------------- Product Images */

.product-image {
    max-width: 280px;
    max-height: 280px;
}

.product-detail-image {
    max-height: 500px;
    max-width: 500px;
    object-fit: scale-down;
}



/*-------------------------- Media Queries */

/* Increase container width on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on large and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    body {
        height: calc(100vh - 195px);
    }
}