<!-- Adapted from Boutique Ado walkthrough project by Code Institute -->

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <!-- All Products -->
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 bg-smoke" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>         
        
        <!-- Paints -->
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black mr-5" href="#" id="paints-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Paints
            </a>
            <div class="dropdown-menu border-0 bg-smoke" aria-labelledby="paints-link">
                <a href="" class="dropdown-item">Warpaints</a>
                <a href="" class="dropdown-item">Vallejo Model Color</a>
                <a href="" class="dropdown-item">Vallejo Game Color Washes</a>
                <a href="" class="dropdown-item">Colour Primers</a>
                <a href="" class="dropdown-item">Quickshade</a>
                <a href="" class="dropdown-item">Vallejo Diorama Effects</a>
            </div>
        </li>

        <!-- Brushes -->
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black mr-5" href="#" id="brushes-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brushes
            </a>
            <div class="dropdown-menu border-0 bg-smoke" aria-labelledby="brushes-link">
                <a href="" class="dropdown-item">Army Painter Brushes</a>
                <a href="" class="dropdown-item">Royal &amp; Langnickel Brushes</a>
            </div>
        </li>

        <!-- Glues & Fillers -->
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black mr-5" href="#" id="glues-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Glues & Fillers
            </a>
            <div class="dropdown-menu border-0 bg-smoke" aria-labelledby="glues-link">
                <a href="" class="dropdown-item">DAS Clay</a>
                <a href="" class="dropdown-item">Milliput</a>
                <a href="" class="dropdown-item">Revell</a>
                <a href="" class="dropdown-item">Army Painter Glues</a>
            </div>
        </li>

        <!-- Materials & Tools -->
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black mr-5" href="#" id="materials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Materials & Tools
            </a>
            <div class="dropdown-menu border-0 bg-smoke" aria-labelledby="materials-link">
                <a href="" class="dropdown-item">Tufts &amp; Flowers</a>
                <a href="" class="dropdown-item">Scenic Scatters</a>
                <a href="" class="dropdown-item">Static Grass</a>
                <a href="" class="dropdown-item">Base Toppers</a>
                <a href="" class="dropdown-item">Foliage &amp; Lichen</a>
                <a href="" class="dropdown-item">Model Animals</a>
                <a href="" class="dropdown-item">Army Painter Hobby Tools</a>
            </div>
        </li>

        <!-- Brands -->
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black mr-5" href="#" id="brands-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brands
            </a>
            <div class="dropdown-menu border-0 bg-smoke" aria-labelledby="brands-link">
                <a href="" class="dropdown-item">The Army Painter</a>
                <a href="" class="dropdown-item">Vallejo</a>
                <a href="" class="dropdown-item">Javis Scenics</a>
                <a href="" class="dropdown-item">Serious Play Scenics</a>
                <a href="" class="dropdown-item">Revell</a>
                <a href="" class="dropdown-item">Milliput</a>
                <a href="" class="dropdown-item">Royal &amp; Langnickel</a>
                <a href="" class="dropdown-item">Milliput</a>
            </div>
        </li>
    </ul>
</div>