{% load static %}

<!doctype html>
<html lang="en">
  <head>
    
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <!-- Google Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
      
      <link rel="stylesheet" href="{% static '/css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
      <!-- Bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <!-- jQuery minified -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <!-- Font Awesome -->
      <script src="https://kit.fontawesome.com/231124bd82.js" crossorigin="anonymous"></script>
      <!-- Stripe -->
      <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Sleeping Dragon Hobby Shop {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
      <header class="container-fluid fixed-top">
        <div id="topnav"class="row pt-lg-2 d-none d-lg-flex bg-smoke">
          <!-- Logo -->
          <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
              <h2 class="logo-font text-black my-0"><strong>Sleeping Dragon Hobby Shop</strong></h2>
            </a>
          </div>
          <!-- Search Box -->
          <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <form method="GET" action="{% url 'products' %}">
              <div class="input-group w-100">
                <input type="text" class="form-control border border-black rounded-0" name="query" placeholder="Search">
                <div class="input-group-append">
                  <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                    <span class="icon">
                      <i class="fas fa-search"></i>
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <!-- Account and Cart Buttons -->
          <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
              <li class="list-inline-item dropdown">
                <a href="#" class="text-black nav-link" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="text-center">
                    <div><i class="fas fa-user fa-lg"></i></div>
                    <p class="my-0">My Account</p>
                  </div>
                </a>
                <div class="dropdown-menu border-0 bg-smoke" aria-labelledby="user-options">
                  {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                      <a href="{% url 'product_management' %}" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                  {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                  {% endif %}
                </div>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'view_cart' %}" class="{% if grand_total %}shopping-cart-highlight fw-bold{% else %} text-black{% endif %} nav-link">
                  <div class="text-center">
                    <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                    <p class="my-0">
                      {% if grand_total %}
                        £{{ grand_total|floatformat:2 }}
                      {% else %}
                        £0.00
                      {% endif %}
                    </p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <nav class="navbar navbar-expand-lg navbar-light bg-smoke">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            {% include 'includes/mobile-top-header.html' %}
            {% include 'includes/main-nav.html' %}
          </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
          <div class="col bg-black text-white">
            <h4 class="logo-font my-1">Free UK delivery on orders over £{{ free_delivery_threshold }}!</h4>                
          </div>            
      </div>
      </header>
      {% if messages %}
        <div class="message-container">
          {% for message in messages %}
            {% with message.level as level %}
              {% if level == 40 %}
                {% include 'includes/toasts/toast_error.html' %}
              {% elif level == 30 %}
                {% include 'includes/toasts/toast_warning.html' %}
              {% elif level == 25 %}
                {% include 'includes/toasts/toast_success.html' %}
              {% else %}
                {% include 'includes/toasts/toast_info.html' %}
              {% endif %}
            {% endwith %}
          {% endfor %}
        </div>
      {% endif %}

      {% block page_header %}
      {% endblock %}

      {% block content %}
      {% endblock %}

      {% block postloadjs %}
      <!-- Toasts Initialization JS, thanks to Richard Ash on Slack! -->
        <script type="text/javascript">
          var toastElList = [].slice.call(document.querySelectorAll('.toast'))
          var toastList = toastElList.map(function (toastEl) {
            var option = {
              animation: false,
              autohide: false,
              delay: 5000,
            }
            var bsToast = new bootstrap.Toast(toastEl, option)
            bsToast.show();
          })
        </script>                   
      {% endblock %}
  </body>
</html>