{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-3">
                <h2 class="logo-font mb-4">Product Management</h2>
                <hr class="mb-3">
            </div>
        </div>
        <div class="row">
            <div class="col-12 align-items-center text-center">
                <a href="{% url 'add_product' %}" class="btn btn-blue rounded-0 my-3">Add a Product</a>
                <a href="{% url 'add_category' %}" class="btn btn-blue rounded-0 my-3">Add a Category</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h5 class="logo-font text-center">Categories</h5>
                <hr>
                <div class="mb-3"> 
                    {% for category in categories %}
                        <a href="{% url 'edit_category' category.id %}" id="edit-category-btn" class="btn btn-blue rounded-0 my-1 mx-2">{{ category.display_name }}</a>                     
                    {% endfor %}
                </div>
                <hr>
                <div class="col-8 offset-2 mb-3">
                    <select id="category-selector" class="w-50 ms-2 py-2 custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Select category...</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}" {% if current_sorting == '{{ category.name }}' %}selected{% endif %}>{{ category.display_name }}</option>
                        {% endfor %}
                    </select>                    
                    <a href="#" class="btn bg-danger text-white rounded-0 my-3 ms-2 category-delete-modal-trigger" data-bs-toggle="modal" data-bs-target="#category-delete-modal">
                        Delete Category
                    </a>  
                    <!-- Delete Modal -->
                    <div class="modal fade" id="category-delete-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="category-delete-modal-label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-smoke">
                                    <h5 class="modal-title logo-font" id="category-delete-modal-label">Delete product?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body bg-smoke">
                                    <p>Do you really want to delete {{ category.display_name }}?</p>
                                </div>
                                <div class="modal-footer bg-smoke">
                                    <button type="button" class="btn btn-blue" data-bs-dismiss="modal">Cancel</button>
                                    <a href="" id="delete-category-btn" class="btn btn-outline-black">Confirm Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
        <hr class="mb-3">
        <div class="row">
            <div class="col">
                <h5 class="logo-font text-center">Latest Orders</h5>
                <hr>
            </div>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>Date</th> 
                            <th>Delivery Address</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in latest_orders %}
                        <tr>
                            <td>
                                <small>
                                    <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a> 
                                    {{ order.full_name }}
                                </small>
                            </td>
                            <td><small>{{ order.date }}</small></td>
                            <td>
                                <small>
                                    {{ order.street_address1 }}, 
                                    {{ order.street_address2 }}, 
                                    {{ order.town_or_city }},  
                                    {{ order.county }}, 
                                    {{ order.postcode }}, 
                                    {{ order.country }}
                                </small>
                            </td>
                            <td><small>£{{ order.grand_total }}</small></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $('#category-selector').change(function() {
        var selector = $(this);

        var categoryId = selector.val();
        var urlStart = 'delete_category/'
        if(categoryId != "reset"){
            $('#delete-category-btn').attr("href", urlStart + categoryId + "/");
        }
    });
</script>
{% endblock %}
